<form action="/tweets?query" method="get">
  <label for="search">Search:
    <input id="search" name="query" type="text" placeholder="Search:">
  </label>
  <button class="tiny">Search</button>
</form>
